@page
@model TutorBuddy.Pages.Resources.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Download Material</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resource.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resource.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resource.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resource.Type)
        </dd>
        <dt class="col-sm-2">
            Module Code
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resource.Module.ModuleCode)
        </dd>
    </dl>
</div>
<div>
    <a href="https://livenmmuac-my.sharepoint.com/:f:/g/personal/s220651337_mandela_ac_za/EkrfD2t5UPRFgbHYEnn2hZoBi-OzXwFG_eSrXIurTZSNsQ?e=RB30Om">Download</a> |
    <a asp-page="/Students/ResourcesList">Back to List</a>
</div>
