@page
@model TutorBuddy_MCsoft.Pages.ResourcesListModel

@{
    ViewData["Title"] = "ResourcesList";
}

<h1>Resources List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resource[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Resource) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-page="/Students/Download" asp-route-id="@item.ID">Download</a>
            </td>
        </tr>
}
    </tbody>
</table>
