@page
@model TutorBuddy_MCsoft.Pages.PendingBookingsModel

@{
    ViewData["Title"] = "PendingBookings";
}

<h1>Pending Bookings</h1>
<p>
    <a asp-page="/Pending Bookings" asp-route-sort="y" asp-route-id="@Model.ID"><button class="btn-primary">Sort by session date</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Student
            </th>
            <th>
                Date
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                Module
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IndividualBooking) {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.Student.StudentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Session.SessionDate)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Session.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Session.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Session.ModuleTutor.Module.ModuleName)
            </td>
            <td>
                <a asp-page="./ConfirmBooking" asp-route-id="@item.Session.SessionID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
