@page
@model TutorBuddy_MCsoft.Pages.SessionsModel

@{
    ViewData["Title"] = "Sessions";
}

<h1>Sessions</h1>
<p>
    <a asp-page="/Sessions" asp-route-sort="y" asp-route-id="@Model.studentNum"><button class="btn-primary">Sort by session date</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Session Date
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                Amount of People
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Session) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SessionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfPeople)
            </td>
            <td>
                <a asp-page="./RateTutor" asp-route-ss="@Model.studentNum" asp-route-ts="@item.ModuleTutor.StudentNumber">Rate Tutor</a>
            </td>
        </tr>
}
    </tbody>
</table>
