@page
@model TutorBuddy.Pages.Tutors.IndexModel

@{
    ViewData["Title"] = "Tutors";
}

<h1>Tutors</h1>
<p>
    <a asp-page="/Tutors/Index" asp-route-sort="y"><button class="btn-primary">Sort by best rating</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Fee Per Session
            </th>
            <th>
                Average Rating
            </th>
            <th>
                Modules
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tutor) {
    if (item.Approved)
    {
		<tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
                @*<a asp-page="./Details" asp-route-id="@item.StudentNumber">Details</a>*@
            </td>
            <td>
                R @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgRating)
            </td>
            <td>
                @foreach (var module in item.ModulesTutored)
                {
                    @module.Module.ModuleName; <br>
                }
            </td>
            <td>
                @{  if (Model._user.Role == "student")
                    {
                                <a asp-page="../BookSession" asp-route-ts="@item.StudentNumber" asp-route-ss="@Model._user.StudentNumber">Book Session</a>
                    }
                                
                 }
              
            </td>
        </tr> 
	}
}
    </tbody>
</table>
